.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.button-container-inner {
    display: flex;
}
.image-preview {
    position: relative;
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: 100px; /* Ajuste o tamanho conforme necessário */
}
  
.image-preview {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: 100px; /* Ajuste o tamanho conforme necessário */
    border: 1px solid #ccc; /* Adicione uma borda para o quadrado */
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center; /* Centraliza o texto horizontalmente */
}
  
.image-preview img,
.image-preview .placeholder {
    max-width: 100%;
    max-height: 100%;
}
  
.form-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-form-field {
    width: 100%; /* Defina o tamanho desejado para os campos */
    margin-right: 15px; /* Adicione margem inferior entre os campos */
}
  
.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px; /* Adicione margem inferior entre as linhas */
}