<mat-card-content>
    <div class="categoria">
        <div class="p-1 mt-2 ">
            <h1 class="row mt-4 ml-3">Tecnologia</h1>
        </div>
        <div class="center row mr-0 ml-0">
            <div class=" col-lg-4 col-md-8 col-sm-12">
                <mat-card class="example-card">
                    <img mat-card-image src="https://cdn.pixabay.com/photo/2022/05/06/20/32/cyborg-7179066_1280.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-title>Inteligência Artificial</mat-card-title>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates ducimus similique accusantium beatae 
                            exercitationem incidunt tempora nulla adipisci magni rerum quibusdam quidem, eveniet placeat? Harum, eos neque.
                             Laboriosam, quia debitis.
                        </p>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions> -->
                </mat-card>
            </div>
            <div class=" col-lg-4 col-md-8 col-sm-12">
                <mat-card class="example-card">
                    <img mat-card-image src="https://cdn.pixabay.com/photo/2022/05/06/20/32/cyborg-7179066_1280.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-title>Dispositivos Móveis</mat-card-title>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates ducimus similique accusantium beatae 
                            exercitationem incidunt tempora nulla adipisci magni rerum quibusdam quidem, eveniet placeat? Harum, eos neque.
                            Laboriosam, quia debitis.
                        </p>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions> -->
                </mat-card>
            </div>
            <div class=" col-lg-4 col-md-8 col-sm-12">
                <mat-card class="example-card">
                    <img mat-card-image src="https://cdn.pixabay.com/photo/2022/05/06/20/32/cyborg-7179066_1280.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-title>Teoria dos grafos</mat-card-title>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates ducimus similique accusantium beatae 
                            exercitationem incidunt tempora nulla adipisci magni rerum quibusdam quidem, eveniet placeat? Harum, eos neque.
                            Laboriosam, quia debitis.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</mat-card-content>