<form class="cadastro-form">
    <mat-card class="cadastro-card">
        <mat-card-content>
            <h2 class="cadastro-title">Cadastro de Usuário</h2>

            <mat-form-field class="full-width">
                <input matInput placeholder="Nome" type="text">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Email" type="email">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Senha" type="password">
            </mat-form-field>

            <div class="register-link">
                <p> Já possui uma conta? <a href="login">Clique aqui!</a></p>
            </div>

            <div class="button-container">
                <button mat-raised-button color="primary" class="cadastro-button">Cadastrar</button>
            </div>
        </mat-card-content>
    </mat-card>
</form>
  