<div class="div-centralizada">
    <mat-card class="container-fluid mat-card-center">
        <mat-tab-group>
            <mat-tab label="Cursos">
                <app-curso-card></app-curso-card>
            </mat-tab>
            <mat-tab label="Registrar ponto">
                <app-registry-form></app-registry-form>
            </mat-tab>
            
            <!-- <mat-tab label="Second"> Content 2 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab> -->
        </mat-tab-group>
    </mat-card>
</div>