<!-- <div class="container">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="">
        <mat-tab label="Cursos">
            <div class="row p-4">
                <div class="col-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                bred for hunting.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                bred for hunting.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                bred for hunting.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Second">Content 2</mat-tab>
        <mat-tab label="Third">Content 3</mat-tab>
    </mat-tab-group>
</div> -->
<div class="div-centralizada">
    <mat-card class="container-fluid mat-card-center">
        <mat-tab-group>
            <mat-tab label="Cursos">
                <mat-card-content>
                    <div class="categoria">
                        <h1 class="row mt-4 ml-3">Graduação</h1>
                        <div class="center row mr-0 ml-0">
                            <div class=" col-lg-4 col-md-8 col-sm-12">
                                <mat-card class="example-card">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <mat-card-title>Inteligência Artificial</mat-card-title>
                                        <p>
                                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                            bred for hunting.
                                        </p>
                                    </mat-card-content>
                                    <!-- <mat-card-actions>
                                        <button mat-button>LIKE</button>
                                        <button mat-button>SHARE</button>
                                    </mat-card-actions> -->
                                </mat-card>
                            </div>
                            <div class=" col-lg-4 col-md-8 col-sm-12">
                                <mat-card class="example-card">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <mat-card-title>Dispositivos Móveis</mat-card-title>
                                        <p>
                                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                            bred for hunting.
                                        </p>
                                    </mat-card-content>
                                    <!-- <mat-card-actions>
                                        <button mat-button>LIKE</button>
                                        <button mat-button>SHARE</button>
                                    </mat-card-actions> -->
                                </mat-card>
                            </div>
                            <div class=" col-lg-4 col-md-8 col-sm-12">
                                <mat-card class="example-card">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <mat-card-title>Teoria dos grafos</mat-card-title>
                                        <p>
                                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                            bred for hunting.
                                        </p>
                                    </mat-card-content>
                                    <!-- <mat-card-actions>
                                        <button mat-button>LIKE</button>
                                        <button mat-button>SHARE</button>
                                    </mat-card-actions> -->
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-tab>
            
            <mat-tab label="Second"> Content 2 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>